/*GENERAL*/ /*BODY*/
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes upAndDown {
  0% {
    top: 46%;
  }
  25% {
    top: 36%;
  }
  75% {
    top: 56%;
  }
  100% {
    top: 46%;
  }
}
@-o-keyframes upAndDown {
  0% {
    top: 46%;
  }
  25% {
    top: 36%;
  }
  75% {
    top: 56%;
  }
  100% {
    top: 46%;
  }
}
@-ms-keyframes upAndDown {
  0% {
    top: 46%;
  }
  25% {
    top: 36%;
  }
  75% {
    top: 56%;
  }
  100% {
    top: 46%;
  }
}
/*HOMEPAGE*/
body {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  margin: 0px auto 0px auto;
  flex-direction: column;
  text-align: center;
}
body .loader__wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 100;
  opacity: 1;
  animation: fadeOut 2s 4s forwards;
}
body .loader__wrapper .loader__wrapper__logo {
  opacity: 0;
  width: 50%;
  top: 46%;
  left: 25%;
  position: fixed;
  animation: fadeIn 2s forwards, upAndDown 2s 2s both;
}
body .section__title {
  text-align: left;
}
body .section__functioning .section__functioning__steps {
  background-color: var(--main-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 15px 5%;
  padding: 7px 0px 7px 0px;
  width: 95%;
  border-radius: 20px;
  box-shadow: 0px 3px 13px rgba(128, 128, 128, 0.6784313725);
}
body .section__functioning .section__functioning__steps:hover {
  box-shadow: 0px 3px 13px #747474;
}
body .section__functioning .section__functioning__steps .section__functioning__steps_number {
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 4px 11px;
  color: white;
  position: absolute;
  left: 5.5%;
  font-weight: 500;
}
body .section__functioning .section__functioning__steps .section__functioning__steps_icon {
  color: #7E7E7E;
  margin: 0px 5% 0px 10%;
  font-size: 1.2em;
}
body .section__functioning .section__functioning__steps .section__functioning__steps_icon:hover {
  color: var(--primary-color);
}
body .section__restaurants {
  background-color: var(--main-color);
}
body .section__restaurants .section__restaurants__stores {
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
body .section__restaurants .section__restaurants__stores .section__restaurants__stores__a {
  width: 100%;
}
body .section__restaurants .section__restaurants__stores .section__restaurants__stores__a .section__restaurants__stores__a__div {
  height: 180px;
  width: 100%;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
  background-size: cover;
  background-clip: border-box;
  background-position: bottom;
}
body .section__restaurants .section__restaurants__stores .section__restaurants__stores__a .section__restaurants__stores__a__div-1 {
  background-image: url("../Restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
body .section__restaurants .section__restaurants__stores .section__restaurants__stores__a .section__restaurants__stores__a__div-2 {
  background-image: url("../Restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position-y: -158px;
}
body .section__restaurants .section__restaurants__stores .section__restaurants__stores__a .section__restaurants__stores__a__div-3 {
  background-image: url("../Restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
body .section__restaurants .section__restaurants__stores .section__restaurants__stores__a .section__restaurants__stores__a__div-4 {
  background-image: url("../Restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
body .section__restaurants .section__restaurants__stores .section__restaurants__stores__a .section__restaurants__stores__a__div .section__restaurants__stores__a__div__new {
  background-color: var(--pop-up-color);
  color: var(--button-text-color);
  padding: 9px 11px 9px 11px;
  border-radius: 2px;
  position: absolute;
  right: 35px;
  width: 20%;
}
body .section__restaurants .section__restaurants__stores .section__restaurants__stores__a__description {
  padding: 14px 5px 20px 14px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
body .section__restaurants .section__restaurants__stores .section__restaurants__stores__a__description .section__restaurants__stores__a__description__text {
  display: flex;
  flex-direction: column;
  text-align: left;
}
body .section__restaurants__stores__a__description__div {
  font-size: 1.5em;
  margin: auto 15px auto 30px;
}
body .section__restaurants__stores__a__description__div--transparent {
  position: absolute;
  color: transparent;
}
body .favorite {
  position: absolute;
  opacity: 0;
}
body .favorite:checked + .section__restaurants__stores__a__description__div--transparent {
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  animation: fadeIn 0.5s forwards;
  background-clip: text;
  -webkit-background-clip: text;
}
body footer {
  background-color: var(--footer-color);
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
body footer .footer__logo {
  font-family: "Shrikhand", cursive;
  margin-bottom: 8px;
}
body footer .footer__div {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 7px;
}
body footer .footer__div .footer__div__i {
  display: flex;
  align-items: center;
  margin-right: 5%;
}
body footer .footer__div .footer__div__i--ustensils {
  font-size: 0.9em;
}
body footer .footer__div .footer__div__i--handshake {
  font-size: 0.7em;
}
body .length-to-remove-before-delivering {
  height: 1001px;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .header__logo {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
}
header .header__div {
  display: flex;
  flex-direction: row;
  background-color: var(--banner-color);
  width: 100%;
  padding: 5px;
  justify-content: center;
  align-items: center;
  color: #353535;
  box-shadow: 0px 6px 10px -6px grey inset;
}
header .header__div__location__dot {
  margin-right: 18px;
  font-size: 1.3em;
}
header .header__menu {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0px 20px 0px;
}
header .header__menu .header__menu__h1 {
  width: 70%;
}
header .header__menu .header__menu__p {
  width: 90%;
}

/*MENU*/
@keyframes addedPopUp {
  0% {
    margin-right: -16%;
  }
  100% {
    margin-right: 0%;
  }
}
@-o-keyframes addedPopUp {
  0% {
    margin-right: -16%;
  }
  100% {
    margin-right: 0%;
  }
}
@-ms-keyframes addedPopUp {
  0% {
    margin-right: -16%;
  }
  100% {
    margin-right: 0%;
  }
}
header .header__back {
  position: absolute;
  top: 25px;
  left: 6%;
  font-size: 1.5em;
  color: var(--footer-color);
}

body .menu__image {
  width: 100%;
  height: 260px;
}
body .section__menu {
  background-color: var(--main-color);
  position: relative;
  bottom: 50px;
  border-radius: 50px 50px 0px 0px;
}
body .section__menu .section__menu__title {
  display: flex;
  flex-direction: row;
  font-family: "Shrikhand", cursive;
  font-size: 1.14em;
}
body .section__menu .section__menu__content {
  justify-content: left;
  display: flex;
  flex-wrap: wrap;
  padding: initial;
}
body .section__menu .section__menu__content .section__menu__content__title {
  border-bottom: 4px solid var(--pop-up-color);
}
body .section__menu .section__menu__content .section__menu__content__dishes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: 0px 3px 13px rgba(128, 128, 128, 0.6784313725);
}
body .section__menu .section__menu__content .section__menu__content__dishes:hover {
  box-shadow: 0px 3px 13px #747474;
}
body .section__menu .section__menu__content .section__menu__content__dishes:hover + .section__menu__content__dishes__price {
  animation: addedPopUp 0.5s forwards;
}
body .section__menu .section__menu__content .section__menu__content__dishes .section__menu__content__dishes__description {
  overflow: hidden;
  padding: 15px;
}
body .section__menu .section__menu__content .section__menu__content__dishes .section__menu__content__dishes__description .section__menu__content__dishes__description__h4 {
  margin: 0px;
  font-size: 1.2em;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
}
body .section__menu .section__menu__content .section__menu__content__dishes .section__menu__content__dishes__description .section__menu__content__dishes__description__p {
  margin-top: 5px;
  font-size: 1.05em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
}
body .section__menu .section__menu__content .section__menu__content__dishes .section__menu__content__dishes__price {
  display: flex;
  align-items: end;
  width: 30%;
  margin-right: -16%;
}
body .section__menu .section__menu__content .section__menu__content__dishes .section__menu__content__dishes__price:hover {
  animation: addedPopUp 0.5s forwards;
}
body .section__menu .section__menu__content .section__menu__content__dishes .section__menu__content__dishes__price .section__menu__content__dishes__price__h4 {
  margin: 0px;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0px 15px 15px 0px;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
}
body .section__menu .section__menu__content .section__menu__content__dishes .section__menu__content__dishes__price .section__menu__content__dishes__price__added {
  background-color: var(--pop-up-color);
  width: 51%;
  height: 100%;
  overflow: hidden;
}

:root {
  --main-color: #F6F6F6; /* var(--main-color) */
  --pop-up-color: #99e2d0; /* var(--pop-up-color) */
  --button-text-color: #028766; /* var(--button-text-color) */
  --light-blue-color: #89C8FA; /* var(--light-blue-color) */
  --dark-blue-color: #003A68; /* var(--dark-blue-color) */
  --primary-color: #9356DC; /* var(--primary-color) */
  --secondary-color: #FF79DA; /* var(--secondary-color) */
  --tertiary-color: #99E2D0; /* var(--tertiary-color) */
  --banner-color: #EAEAEA; /* var(--banner-color) */
  --footer-color: #353535; /* var(--footer-color) */
}
:root section {
  padding: 35px 5% 35px 5%;
}
:root h1 {
  font-size: 1.6em;
}
:root h2 {
  margin-block-end: 0.4em;
  margin-block-start: 0.4em;
  font-size: 1.2em;
}
:root h3 {
  font-weight: 600;
  font-size: 1.05em;
}
:root p {
  font-size: 1.1em;
  font-weight: 300;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
:root .button {
  color: white;
  border-radius: 25px;
  padding: 15px 20px 15px 20px;
  margin: 30px 0px 30px 0px;
  border: none;
  box-shadow: 0px 3px 13px rgba(128, 128, 128, 0.6784313725);
  background: linear-gradient(var(--secondary-color), var(--primary-color));
}
:root .button:hover {
  box-shadow: 0px 3px 13px #747474;
}
:root .button:hover {
  opacity: 0.9;
}
:root a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=root.css.map */
