/*GENERAL*/ /*BODY*/
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes upAndDown {
  0% {
    top: 46%;
  }
  25% {
    top: 36%;
  }
  75% {
    top: 56%;
  }
  100% {
    top: 46%;
  }
}
@-o-keyframes upAndDown {
  0% {
    top: 46%;
  }
  25% {
    top: 36%;
  }
  75% {
    top: 56%;
  }
  100% {
    top: 46%;
  }
}
@-ms-keyframes upAndDown {
  0% {
    top: 46%;
  }
  25% {
    top: 36%;
  }
  75% {
    top: 56%;
  }
  100% {
    top: 46%;
  }
}
/*HOMEPAGE*/
body {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  margin: 0px auto 0px auto;
  flex-direction: column;
  text-align: center;
}
body section {
  padding: 40px 5% 40px 5%;
}
@media all and (min-width: 1025px) {
  body section {
    padding: 40px 9.5% 40px 9.5%;
  }
}
body .loader__wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 100;
  opacity: 1;
  animation: fadeOut 1s 2.5s forwards;
}
body .loader__wrapper .loader__wrapper__logo {
  opacity: 0;
  width: 50%;
  top: 46%;
  left: 25%;
  position: fixed;
  animation: fadeIn 1s forwards, upAndDown 2s 0.5s both;
}
@media all and (min-width: 1025px) {
  body .loader__wrapper .loader__wrapper__logo {
    width: 30%;
    top: 46%;
    left: 35%;
  }
}
body .section__title {
  text-align: left;
}
@media all and (min-width: 1025px) {
  body .section__title {
    font-size: 1.5em;
  }
}
@media all and (min-width: 1025px) {
  body #Restaurants {
    margin: 0px;
  }
}
body .section__functioning {
  background-color: white;
}
@media all and (min-width: 1025px) {
  body .section__functioning .section__functioning__steps {
    display: flex;
  }
}
body .section__functioning .section__functioning__steps .section__functioning__steps__options {
  background-color: var(--main-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 15px 5%;
  padding: 7px 0px 7px 0px;
  width: 95%;
  border-radius: 20px;
  box-shadow: 0px 3px 13px rgba(128, 128, 128, 0.6784313725);
}
body .section__functioning .section__functioning__steps .section__functioning__steps__options:hover {
  box-shadow: 0px 3px 13px #747474;
}
body .section__functioning .section__functioning__steps .section__functioning__steps__options:hover .section__functioning__steps__options__icon {
  color: var(--primary-color);
}
@media all and (min-width: 1025px) {
  body .section__functioning .section__functioning__steps .section__functioning__steps__options {
    margin: 0px 30px 15px 0px;
  }
}
body .section__functioning .section__functioning__steps .section__functioning__steps__options .section__functioning__steps__options__number {
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 4px 11px;
  color: white;
  position: absolute;
  transform: translateX(-15px);
  font-weight: 500;
}
body .section__functioning .section__functioning__steps .section__functioning__steps__options .section__functioning__steps__options__icon {
  color: #7E7E7E;
  margin: 0px 5% 0px 10%;
  font-size: 1.2em;
}
body .section__restaurants {
  background-color: var(--main-color);
}
@media all and (min-width: 1025px) {
  body .section__restaurants {
    padding-bottom: 0px;
  }
}
@media all and (min-width: 1025px) {
  body .section__restaurants .section__restaurants__div {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
body .section__restaurants .section__restaurants__div .section__restaurants__div__stores {
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
@media all and (min-width: 1025px) {
  body .section__restaurants .section__restaurants__div .section__restaurants__div__stores {
    width: 46%;
    margin-top: 20px;
    margin-bottom: 35px;
  }
}
@media all and (min-width: 1025px) {
  body .section__restaurants .section__restaurants__div .section__restaurants__div__stores #section__restaurants__div__stores--bottom {
    margin-bottom: 30px;
  }
}
body .section__restaurants .section__restaurants__div .section__restaurants__div__stores .section__restaurants__div__stores__a {
  width: 100%;
}
body .section__restaurants .section__restaurants__div .section__restaurants__div__stores .section__restaurants__div__stores__a .section__restaurants__div__stores__a__div {
  height: 180px;
  width: 100%;
  overflow: clip;
  border-radius: 15px 15px 0px 0px;
  background-size: cover;
  background-clip: border-box;
  background-position: center;
}
@media all and (min-width: 600px) and (max-width: 1024px) {
  body .section__restaurants .section__restaurants__div .section__restaurants__div__stores .section__restaurants__div__stores__a .section__restaurants__div__stores__a__div {
    height: 300px;
  }
}
body .section__restaurants .section__restaurants__div .section__restaurants__div__stores .section__restaurants__div__stores__a .section__restaurants__div__stores__a__div-1 {
  background-image: url("../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
body .section__restaurants .section__restaurants__div .section__restaurants__div__stores .section__restaurants__div__stores__a .section__restaurants__div__stores__a__div-2 {
  background-image: url("../images/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position-y: -158px;
}
body .section__restaurants .section__restaurants__div .section__restaurants__div__stores .section__restaurants__div__stores__a .section__restaurants__div__stores__a__div-3 {
  background-image: url("../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
body .section__restaurants .section__restaurants__div .section__restaurants__div__stores .section__restaurants__div__stores__a .section__restaurants__div__stores__a__div-4 {
  background-image: url("../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
body .section__restaurants .section__restaurants__div .section__restaurants__div__stores .section__restaurants__div__stores__a .section__restaurants__div__stores__a__div .section__restaurants__div__stores__a__div__new {
  background-color: var(--tertiary-color);
  color: var(--button-text-color);
  padding: 9px 13px 9px 13px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 1.05em;
  width: 20%;
  position: relative;
  left: 68%;
  top: 8%;
}
@media all and (min-width: 600px) and (max-width: 1024px) {
  body .section__restaurants .section__restaurants__div .section__restaurants__div__stores .section__restaurants__div__stores__a .section__restaurants__div__stores__a__div .section__restaurants__div__stores__a__div__new {
    width: 12%;
    left: 80%;
    top: 9%;
  }
}
body .section__restaurants .section__restaurants__div .section__restaurants__div__stores .section__restaurants__div__stores__a__description {
  padding: 14px 5px 20px 14px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
body .section__restaurants .section__restaurants__div .section__restaurants__div__stores .section__restaurants__div__stores__a__description .section__restaurants__div__stores__a__description__text {
  display: flex;
  flex-direction: column;
  text-align: left;
}
body .section__restaurants__div__stores__a__description__div {
  font-size: 1.5em;
  margin: auto 15px auto 30px;
}
body .section__restaurants__div__stores__a__description__div--transparent {
  position: absolute;
  color: transparent;
}
body .favorite {
  position: absolute;
  opacity: 0;
}
body .favorite:checked + .section__restaurants__div__stores__a__description__div--transparent {
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  animation: fadeIn 0.5s forwards;
  background-clip: text;
  -webkit-background-clip: text;
}
body footer {
  background-color: var(--footer-color);
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media all and (min-width: 1025px) {
  body footer {
    flex-direction: row-reverse;
    padding: 60px 50px 30px 30px;
  }
}
body footer .footer__logo {
  font-family: "Shrikhand", cursive;
  margin-bottom: 8px;
}
@media all and (min-width: 1025px) {
  body footer .footer__logo {
    margin-bottom: 0px;
    font-size: 1em;
  }
}
body footer .footer__div {
  width: 100%;
}
@media all and (min-width: 1025px) {
  body footer .footer__div {
    flex-direction: row;
    display: flex;
    justify-content: end;
    width: 700px;
  }
}
body footer .footer__div .footer__div__div {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 7px;
}
@media all and (min-width: 1025px) {
  body footer .footer__div .footer__div__div {
    width: 210px;
  }
}
body footer .footer__div .footer__div__div .footer__div__div__i {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
@media all and (min-width: 1025px) {
  body footer .footer__div .footer__div__div .footer__div__div__i {
    margin-right: 10px;
  }
}
body footer .footer__div .footer__div__div .footer__div__div__i--ustensils {
  font-size: 0.9em;
}
body footer .footer__div .footer__div__div .footer__div__div__i--handshake {
  font-size: 0.7em;
}
body footer .footer__div .footer__div__a {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 7px;
}
@media all and (min-width: 1025px) {
  body footer .footer__div .footer__div__a {
    width: 140px;
  }
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .header__logo {
  width: 50%;
  margin: 20px auto 20px auto;
  object-fit: contain;
}
@media all and (min-width: 600px) and (max-width: 1024px) {
  header .header__logo {
    width: 20%;
  }
}
@media all and (min-width: 1025px) {
  header .header__logo {
    width: 15%;
    margin-bottom: 25px;
  }
}
header .header__div {
  display: flex;
  flex-direction: row;
  background-color: var(--banner-color);
  width: 100%;
  padding: 5px;
  justify-content: center;
  align-items: center;
  color: #353535;
  box-shadow: 0px 6px 10px -6px grey inset;
}
header .header__div__location__dot {
  margin-right: 18px;
  font-size: 1.3em;
}
header .header__menu {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0px 20px 0px;
}
@media all and (min-width: 1025px) {
  header .header__menu {
    padding-bottom: 0px;
  }
}
header .header__menu .header__menu__h1 {
  width: 70%;
}
@media all and (min-width: 1025px) {
  header .header__menu .header__menu__h1 {
    font-size: 2.4em;
  }
}
header .header__menu .header__menu__p {
  width: 90%;
}

/*MENU*/
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
header {
  background-color: white;
}
header .header__back {
  position: absolute;
  top: 25px;
  left: 6%;
  font-size: 1.5em;
  color: var(--footer-color);
}

body {
  background-color: var(--main-color);
}
body .menu__image {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
@media all and (min-width: 1025px) {
  body .menu__image {
    height: 400px;
  }
}
body .section__menu {
  background-color: var(--main-color);
  position: relative;
  bottom: 50px;
  border-radius: 50px 50px 0px 0px;
}
@media all and (min-width: 1025px) {
  body .section__menu {
    width: 44%;
    margin: 0 auto 0 auto;
    padding: 40px 14.5% 0px 14.5%;
  }
}
body .section__menu .section__menu__title {
  display: flex;
  flex-direction: row;
  font-family: "Shrikhand", cursive;
  font-size: 1.14em;
  margin-bottom: 0px;
  justify-content: space-between;
}
@media all and (max-width: 380px) {
  body .section__menu .section__menu__title h1 {
    font-size: 1.1em;
  }
}
@media all and (min-width: 1025px) {
  body .section__menu .section__menu__title {
    justify-content: center;
  }
}
body .section__menu .section__menu__title h1 {
  font-weight: 500;
}
body .section__menu .section__menu__content {
  justify-content: left;
  display: flex;
  flex-wrap: wrap;
  padding: initial;
  padding-bottom: 40px;
}
body .section__menu .section__menu__content p {
  margin-bottom: 5px;
  font-weight: 300;
}
body .section__menu .section__menu__content .section__menu__content__title {
  border-bottom: 4px solid var(--tertiary-color);
  font-size: 1.05em;
  margin-bottom: 5px;
  font-weight: 300;
}
body .section__menu .section__menu__content .section__menu__content__dishes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  border-radius: 20px;
  margin-top: 15px;
  overflow: hidden;
  box-shadow: 0px 3px 13px rgba(128, 128, 128, 0.6784313725);
  opacity: 0;
  animation: appear 2s forwards;
}
body .section__menu .section__menu__content .section__menu__content__dishes:hover {
  box-shadow: 0px 3px 13px #747474;
}
body .section__menu .section__menu__content .section__menu__content__dishes:nth-child(3) {
  animation-delay: 2s;
}
body .section__menu .section__menu__content .section__menu__content__dishes:nth-child(4) {
  animation-delay: 1.5s;
}
body .section__menu .section__menu__content .section__menu__content__dishes:nth-child(5) {
  animation-delay: 1s;
}
body .section__menu .section__menu__content .section__menu__content__dishes:hover .section__menu__content__dishes__price {
  margin-right: 0%;
  transition: 0.5s;
}
body .section__menu .section__menu__content .section__menu__content__dishes:hover .section__menu__content__dishes__description {
  max-width: 63.5%;
  transition: 0.5s;
}
body .section__menu .section__menu__content .section__menu__content__dishes .section__menu__content__dishes__description {
  overflow: hidden;
  padding: 4% 0px 4% 4%;
  max-width: 75%;
}
@media all and (min-width: 768px) {
  body .section__menu .section__menu__content .section__menu__content__dishes .section__menu__content__dishes__description {
    padding: 2% 0px 2% 3%;
  }
}
body .section__menu .section__menu__content .section__menu__content__dishes .section__menu__content__dishes__description .section__menu__content__dishes__description__h4 {
  margin: 0px;
  font-size: 1.2em;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
}
body .section__menu .section__menu__content .section__menu__content__dishes .section__menu__content__dishes__description .section__menu__content__dishes__description__p {
  margin-top: 5px;
  font-size: 1.05em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
}
body .section__menu .section__menu__content .section__menu__content__dishes .section__menu__content__dishes__price {
  display: flex;
  align-items: end;
  width: 39%;
  margin-right: -21%;
  transition: 0.5s;
  padding-left: 2%;
}
@media all and (min-width: 650px) and (max-width: 1024px) {
  body .section__menu .section__menu__content .section__menu__content__dishes .section__menu__content__dishes__price {
    width: 20%;
    margin-right: -12%;
  }
}
@media all and (min-width: 1025px) {
  body .section__menu .section__menu__content .section__menu__content__dishes .section__menu__content__dishes__price {
    width: 25%;
    margin-right: -14%;
  }
}
body .section__menu .section__menu__content .section__menu__content__dishes .section__menu__content__dishes__price .section__menu__content__dishes__price__h4 {
  margin: 0px;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0px 15px 15px 0px;
  overflow: visible;
  width: 45%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
}
@media all and (min-width: 1025px) {
  body .section__menu .section__menu__content .section__menu__content__dishes .section__menu__content__dishes__price .section__menu__content__dishes__price__h4 {
    width: 38%;
  }
}
body .section__menu .section__menu__content .section__menu__content__dishes .section__menu__content__dishes__price .section__menu__content__dishes__price__added {
  background-color: var(--tertiary-color);
  width: 60%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.3em;
}
body .section__menu .section__menu__button {
  width: 40%;
  margin: 0px;
}
@media all and (min-width: 1025px) {
  body .section__menu .section__menu__button {
    width: 25%;
  }
}
body #no__padding__bottom {
  padding-bottom: 0px;
}

:root {
  --main-color: #F6F6F6; /* var(--main-color) */
  --button-text-color: #028766; /* var(--button-text-color) */
  --light-blue-color: #89C8FA; /* var(--light-blue-color) */
  --dark-blue-color: #003A68; /* var(--dark-blue-color) */
  --primary-color: #9356DC; /* var(--primary-color) */
  --secondary-color: #FF79DA; /* var(--secondary-color) */
  --tertiary-color: #99E2D0; /* var(--tertiary-color) */
  --banner-color: #EAEAEA; /* var(--banner-color) */
  --footer-color: #353535; /* var(--footer-color) */
}
:root h1 {
  font-size: 1.6em;
}
:root h2 {
  margin-block-end: 0.4em;
  margin-block-start: 0.4em;
  font-size: 1.2em;
}
:root h3 {
  font-weight: 600;
  font-size: 1.05em;
}
:root p {
  font-size: 1.1em;
  font-weight: 300;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
:root .button {
  display: inline-block;
  color: white;
  border-radius: 25px;
  padding: 15px 20px 15px 20px;
  margin: 30px 0px 30px 0px;
  border: none;
  box-shadow: 0px 3px 13px rgba(128, 128, 128, 0.6784313725);
  background: linear-gradient(var(--secondary-color), var(--primary-color));
}
:root .button:hover {
  box-shadow: 0px 3px 13px #747474;
}
:root .button:hover {
  opacity: 0.9;
}
:root a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=root.css.map */
