/*MENU*/

header {

    .header__back {
        position: absolute;
        top: 25px;
        left: 6%;
        font-size: 1.5em;
        color: var(--footer-color);
    }
}

body {

	.menu__image {
		width: 100%;
		height: 260px;
	}

	.section__menu {
        background-color: var(--main-color);
        position: relative;
        bottom: 50px;
        border-radius: 50px 50px 0px 0px;
		
		.section__menu__title {
			display: flex;
			flex-direction: row;
			font-family: 'Shrikhand', cursive;
            font-size: 1.14em;
		}

        .section__menu__content {
            justify-content: left;
            display: flex;
            flex-wrap: wrap;
            padding: initial;

            .section__menu__content__title {
                border-bottom: 4px solid var(--pop-up-color);
            }

            .section__menu__content__dishes {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: white;
                width: 100%;
                padding: 15px;
                border-radius: 20px;
                margin-bottom: 15px;
                @include shadow;

                .section__menu__content__dishes__description {
                    overflow: hidden;

                    .section__menu__content__dishes__description__h4 {
                        margin: 0px;
                        font-size: 1.2em;
                        font-weight: 600;
                        @include ellipsis;
                    }

                    .section__menu__content__dishes__description__p {
                        margin-top: 5px;
                        font-size: 1.05em;
                        @include ellipsis;
                    }
                }

                .section__menu__content__dishes__price {
                    display: flex;
                    align-items: end;
                    padding-left: 10px;

                    .section__menu__content__dishes__price__h4 {
                        margin: 0px;
                        font-size: 1.2em;
                        font-weight: 600;
                        @include ellipsis;
                    }
                }   
            }
        }
	}
}