/*BODY*/

@mixin shadow {
	box-shadow: 0px 3px 13px #808080ad;

	&:hover {
		box-shadow: 0px 3px 13px #747474;
	}
}

@mixin gradient {
	background: linear-gradient(var(--secondary-color), var(--primary-color));
}

@mixin gradient-reversed {
	background: linear-gradient(var(--primary-color), var(--secondary-color));
}

@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: start;
}

@keyframes fadeOut {
	0% { 
		opacity: 1;
	}
	100% { 
		opacity : 0;
		visibility: hidden;
	}
}

@-o-keyframes fadeOut {
	0% { 
		opacity : 1;
	}
	100% { 
		opacity : 0;
		display: none;
	}
}

@-ms-keyframes fadeOut {
	0% { 
		opacity : 1;
	}
	100% { 
		opacity : 0;
		display: none;
	}
}

@keyframes fadeIn {
	0% { 
		opacity: 0;
	}
	100% { 
		opacity : 1;
	}
}

@-o-keyframes fadeIn {
	0% { 
		opacity: 0;
	}
	100% { 
		opacity : 1;
	}
}

@-ms-keyframes fadeIn {
	0% { 
		opacity: 0;
	}
	100% { 
		opacity : 1;
	}
}

@keyframes upAndDown {
	0% {
		top: 46%;
	}
	25% {
		top: 36%;
	}
	75% {
		top: 56%;
	}
	100% {
		top: 46%;
	}
}

@-o-keyframes upAndDown {
	0% {
		top: 46%;
	}
	25% {
		top: 36%;
	}
	75% {
		top: 56%;
	}
	100% {
		top: 46%;
	}
}

@-ms-keyframes upAndDown {
	0% {
		top: 46%;
	}
	25% {
		top: 36%;
	}
	75% {
		top: 56%;
	}
	100% {
		top: 45%;
	}
}

/*HOMEPAGE*/

body {
	display: flex;
	justify-content: center;
    font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 500;
	margin: 0px auto 0px auto;
    flex-direction: column;
	text-align: center;

	section {
		padding: 40px 5% 40px 5%;
		@media all and (min-width: 1025px) {
            padding: 40px 9.5% 40px 9.5%;
        }
	}

	.loader__wrapper {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		background: white;
		z-index: 100;
		opacity: 1;
		animation: fadeOut 1s 2.5s forwards;

		.loader__wrapper__logo {
			opacity: 0;
			width: 50%;
			top: 46%;
			left: 25%;
			position: fixed;
			animation: fadeIn 1s forwards, upAndDown 2s 0.5s both;
			@media all and (min-width: 1025px) {
				width: 30%;
				top: 46%;
				left: 35%;
			}
		}
	}

	.section__title {
		text-align: left;
		@media all and (min-width: 1025px) {
			font-size: 1.5em;
		}
	}

	#Restaurants {
		@media all and (min-width: 1025px) {
			margin: 0px;
		}
	}

	.section__functioning {
		background-color: white;

		.section__functioning__steps {
			@media all and (min-width: 1025px) {
				display: flex;
			}

			.section__functioning__steps__options {
				background-color: var(--main-color);
				display: flex;
				flex-direction: row;
				align-items: center;
				margin: 0px 0px 15px 5%;
				padding: 7px 0px 7px 0px;
				width: 95%;
				border-radius: 20px;
				@include shadow;
				&:hover .section__functioning__steps__options__icon {
					color: var(--primary-color);
				}
				@media all and (min-width: 1025px) {
					margin: 0px 30px 15px 0px;
				}
				
				.section__functioning__steps__options__number {
					background-color: var(--primary-color);
					border-radius: 15px;
					padding: 4px 11px;
					color: white;
					position: absolute;
					transform: translateX(-15px);
					font-weight: 500;
				}

				.section__functioning__steps__options__icon {
					color: #7E7E7E;
					margin: 0px 5% 0px 10%;
					font-size: 1.2em;
				}
			}
		}
	}

	.section__restaurants {
		background-color: var(--main-color);
		@media all and (min-width: 1025px) {
			padding-bottom: 0px;
		}

		.section__restaurants__div {
			@media all and (min-width: 1025px) {
				flex-direction: row;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			.section__restaurants__div__stores {
				border-radius: 10px;
				background-color: white;
				display: flex;
				justify-content: left;
				flex-wrap: wrap;
				margin-bottom: 20px;
				@media all and (min-width: 1025px) {
					width: 46%;
					margin-top: 20px;
    				margin-bottom: 35px;
				}

				#section__restaurants__div__stores--bottom {
					@media all and (min-width: 1025px) {
						margin-bottom: 30px;
					}
				}

				.section__restaurants__div__stores__a {
					width: 100%;

					.section__restaurants__div__stores__a__div {
						height: 180px;
						width: 100%;
						overflow: clip;
						border-radius: 15px 15px 0px 0px;
						background-size: cover;
						background-clip: border-box;
						background-position: center;
						@media all and (min-width: 600px) and (max-width: 1024px) {
							height: 300px;
						}

						&-1 {
							background-image: url("../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
						}

						&-2 {
							background-image: url("../images/stil-u2Lp8tXIcjw-unsplash.jpg");
							background-position-y: -158px;
						}

						&-3 {
							background-image: url("../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
						}

						&-4 {
							background-image: url("../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
						}

						.section__restaurants__div__stores__a__div__new {
							background-color: var(--tertiary-color);
							color: var(--button-text-color);
							padding: 9px 13px 9px 13px;
							border-radius: 2px;
							font-weight: 600;
							font-size: 1.05em;
							width: 20%;
							position: relative;
							left: 68%;
							top: 8%;
							@media all and (min-width: 600px) and (max-width: 1024px) {
								width: 12%;
								left: 80%;
								top: 9%;
							}
							@media all and (min-width: 1025px) and (max-width: 1400px) {
								width: 17%;
    							left: 72%;
							}
							@media all and (min-width: 1401px) {
								width: 14%;
								left: 79%;
								top: 9%;
							}
						}
					}
				}	
		
				.section__restaurants__div__stores__a__description {
					padding: 14px 5px 20px 14px;
					width: 100%;
					display: flex;
					flex-direction: row;

					.section__restaurants__div__stores__a__description__text {
						display: flex;
						flex-direction: column;
						text-align: left;
					}
				}
			}
		}
	}

	.section__restaurants__div__stores__a__description__div {
		font-size: 1.5em;
		margin: auto 15px auto 30px;

		&--transparent {
			position: absolute;
			color: transparent;
		}
	}

	.favorite {
		position: absolute;
		opacity: 0;
		&:checked +.section__restaurants__div__stores__a__description__div--transparent {
			@include gradient-reversed;
			animation: fadeIn 0.5s forwards;
			background-clip: text;
			-webkit-background-clip: text;
		}
	}

	footer {
		background-color: var(--footer-color);
		color: white;
		padding: 25px;
		display: flex;
		flex-direction: column;
		align-items: start;
		@media all and (min-width: 1025px) {
			flex-direction: row-reverse;
			padding: 60px 50px 30px 30px;
		}

		.footer__logo {
			font-family: 'Shrikhand', cursive;
			margin-bottom: 8px;
			@media all and (min-width: 1025px) {
				margin-bottom: 0px;
				font-size: 1em;
			}
		}

		.footer__div {
			width: 100%;
			@media all and (min-width: 1025px) {
				flex-direction: row;
				display: flex;
				justify-content: end;
				width: 700px;
			}

			.footer__div__div {
				display: flex;
				flex-direction: row;
				width: 100%;
				margin-top: 7px;
				@media all and (min-width: 1025px) {
					width: 210px;
				}

				.footer__div__div__i {
					display: flex;
					align-items: center;
					margin-right: 25px;
					@media all and (min-width: 1025px) {
						margin-right: 10px;
					}

					&--ustensils {
						font-size: 0.9em;
					}

					&--handshake {
						font-size: 0.7em;
					}
				}
			}
			
			.footer__div__a {
				display: flex;
				flex-direction: row;
				width: 100%;
				margin-top: 7px;
				@media all and (min-width: 1025px) {
					width: 140px;
				}
			}
		}
	}
}


