/*HEADER*/

header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

    .header__logo {
        width: 50%;
        margin: 20px auto 20px auto;
        object-fit: contain;
    }

    .header__div {
        display: flex;
        flex-direction: row;
        background-color: var(--banner-color);
        width : 100%;
        padding: 5px;
        justify-content: center;
        align-items: center;
        color: #353535;
        box-shadow: 0px 6px 10px -6px grey inset;    
    }

    .header__div__location__dot {
        margin-right: 18px;
        font-size: 1.3em;
    }

    .header__menu {
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 30px 0px 20px 0px;

        .header__menu__h1 {
            width: 70%;
        }

        .header__menu__p {
            width: 90%;
        }
    }
}
