/*MENU*/

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(+20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    background-color: white;

    .header__back {
        position: absolute;
        top: 25px;
        left: 6%;
        font-size: 1.5em;
        color: var(--footer-color);
    }
}

body {
    background-color: var(--main-color);

	.menu {
    
        &__image {
            width: 100%;
            height: 260px;
        }

        &__list {
            list-style: initial; /* Rétablir le style de liste par défaut */
            padding-left: initial; /* Rétablir le padding par défaut */
            list-style: none;
            padding: 0;
            width: 100%;
        }

        &__item {
            opacity: 0;
            animation: appear 2s forwards;
            width: 100%;

            &:nth-child(1) {
                animation-delay: 0.5s;
            }

            &:nth-child(2) {
                animation-delay: 1s;
            }

            &:nth-child(3) {
                animation-delay: 1.5s;
            }

            &:nth-child(4) {
                animation-delay: 2s;
            }

            &:nth-child(5) {
                animation-delay: 2.5s;
            }

            &:nth-child(6) {
                animation-delay: 3s;
            }

            &:nth-child(7) {
                animation-delay: 3.5s;
            }
            &:nth-child(8) {
                animation-delay: 4s;
            }

            &:nth-child(9) {
                animation-delay: 4.5s;
            }
        }
    }

	.section__menu {
        background-color: var(--main-color);
        position: relative;
        bottom: 50px;
        border-radius: 50px 50px 0px 0px;
        padding-bottom: 0px;
        padding: 35px 5% 0px 5%;
		
		.section__menu__title {
			display: flex;
			flex-direction: row;
			font-family: 'Shrikhand', cursive;
            font-size: 1.14em;
            margin-bottom: 0px;
		}

        .section__menu__content {
            justify-content: left;
            display: flex;
            flex-wrap: wrap;
            padding: initial;
            padding-bottom: 40px;

            h3 {
                margin-bottom: 5px;
                font-weight: 300;
            }

            .section__menu__content__title {
                border-bottom: 4px solid var(--tertiary-color);
            }

            .section__menu__content__dishes {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: white;
                width: 100%;
                border-radius: 20px;
                margin-top: 15px;
                overflow: hidden;
                @include shadow;

                &:hover .section__menu__content__dishes__price {
                    margin-right: 0%;
                    transition: 0.5s;
                }

                .section__menu__content__dishes__description {
                    overflow: hidden;
                    padding: 15px;

                    .section__menu__content__dishes__description__h4 {
                        margin: 0px;
                        font-size: 1.2em;
                        font-weight: 600;
                        @include ellipsis;
                    }

                    .section__menu__content__dishes__description__p {
                        margin-top: 5px;
                        font-size: 1.05em;
                        @include ellipsis;
                    }
                }

                .section__menu__content__dishes__price {
                    display: flex;
                    align-items: end;
                    width: 30%;
                    margin-right: -16%;
                    transition: 0.5s;

                    .section__menu__content__dishes__price__h4 {
                        margin: 0px;
                        font-size: 1.2em;
                        font-weight: 600;
                        padding: 0px 15px 15px 0px;
                        overflow: visible;
                        @include ellipsis;
                    }
                        
                    .section__menu__content__dishes__price__added {
                    background-color: var(--tertiary-color);
                    width: 51%;
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 1.3em;                
                    }
                }
            }
        }
	}
}