/*GENERAL*/
:root {
    --main-color: #; /* var(--main-color) */
    --second-color: #; /* var(--second-color) */
    --background-color: #F3F3F3; /* var(--background-color) */
	--button-color: #; /* var(--button-color) */
    padding-left: 10px;
    padding-right: 10px;
}

body {
    font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 500;
	margin: 0px auto 0px auto;
	margin-right: auto;
	max-width: 1354px;
    flex-direction: column;
}

/*HEADER*/

header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
	flex-wrap: wrap;
}

.header__logo {
    display: flex;
    justify-content: center;
	width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    object-fit: contain;
}